@model IEnumerable<FaultSubsystem.Models.Fault.FaultReportTechnicianViewModel>

@if (Model.Count() < 1)
{
    <h2>You have no assigned fault reports at the moment.</h2>
    <a href="@Url.Action("ViewUnassignedFaultyFridges")" class="btn btn-primary">
        View Unassigned Fault Reports
    </a>
}
else
{
    <h2>Your Assigned Fault Reports</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Report Date</th>
                <th>Status</th>
                <th>Assigned Date</th>
                <th>Scheduled Repair Date</th>
                <th>Diagnosis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fault in Model)
            {
                <tr>
                    <td>@fault.FaultDescription</td>
                    <td>@fault.ReportDate</td>
                    <td>@fault.FaultStatus</td>
                    <td>@fault.AssignedDate</td>
                    <td>@fault.ScheduledRepairDate</td>
                    <td>@fault.Diagnosis</td>
                    <td>
                        <a href="@Url.Action("FaultReportDetails", new { faultID = fault.FaultID })" class="btn btn-primary">
                            View Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>    
}
