@*
    List the employees with: Name(First+LastName) - Role(Nullable) - Actions(View Employee)
    View Employee shows full details of the employee, also always the admin to assign the employee a role
*@
@model IEnumerable<FaultSubsystem.Models.EmployeeModels.EmployeeViewModel>

<div class="mb-4" style="margin: 5px;">
    <a href="@Url.Action("Dashboard", "Administrator")" class="btn btn-secondary" style="color: white;">
        <img src="~/icons/arrow-left-square.svg" alt="Back" />
    </a>
</div>

<div class="title-parent">
    <h2 class="mb-4 text-center title-header">
        <strong>Employee List</strong>
    </h2>
</div>

<button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("CreateEmployee", "Employee")'" style="margin: 5px;">Create New Employee</button>

<div class="table-responsive">
    <table class="view-table table-bordered table-striped table-hover">
        <thead class="view-table-header">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.FullName</td>
                    <td>@employee.RoleName</td>
                    <td>
                        <a asp-action="EmployeeDetails" asp-route-id="@employee.EmployeeID" class="btn btn-info">View Employee</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>