@model IEnumerable<FaultSubsystem.Models.CustomerModels.FaultyFridgesViewModel>

@if (Model.Count() > 0)
{
    <h2>Faulty Fridges</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Fridge Model</th>
                <th>Serial Number</th>
                <th>Fault Description</th>
                <th>Current Fault Status</th>
                <th>Return Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fridge in Model)
            {
                <tr>
                    <td>@fridge.FridgeModel</td>
                    <td>@fridge.SerialNumber</td>
                    <td>@fridge.FaultDescription</td>
                    <td>@fridge.FaultStatus</td>
                    <td>@fridge.ReturnDate</td>
                    <td>
                        <a href="@Url.Action("ViewFaultyFridgeDetails", "Customer", new { fridgeID = fridge.FridgeID })" class="btn btn-info">View Details</a>
                        @* Have a button to request a replacement for the fridge here *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>You don't have any faulty fridges.</h2>
}
