@model IEnumerable<Location>

<a href="@Url.Action("Dashboard", "Administrator")" class="btn btn-secondary" style="margin: 5px;">
    <img src="~/icons/arrow-left-square.svg" alt="Back" />
</a>

<div class="title-parent">
    <h2 class="mb-4 text-center title-header">
        <strong>Locations</strong>
    </h2>
</div>

<a class="btn btn-primary" asp-action="AddLocation" style="margin: 5px;">Add New Location</a>

<div class="table-responsive">
    <table class="view-table table-bordered table-striped table-hover">
        <thead class="view-table-header">
            <tr>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>City</th>
                <th>Postal Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var location in Model)
            {
                <tr>
                    <td>@location.AddressLine1</td>
                    <td>@location.AddressLine2</td>
                    <td>@location.City</td>
                    <td>@location.PostalCode</td>
                    @*Number of fridges on this location*@
                    <td>
                        <a class="btn btn-secondary" asp-action="EditLocation" asp-route-id="@location.LocationID">Edit Location</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>